:root {
  --p-color: #684287;
  --p-outline: 3px;
  --p-size: 2.5vmin;
}

calibration-window {
  display: inline-block;
  background: white;
  width: 100%;
  height: 100%;
  --margin: calc(var(--p-size) * 1.5);
}
calibration-window > div {
  margin: var(--margin);
  width: calc(100% - 2 * var(--margin));
  height: calc(100% - 2 * var(--margin));
  position: relative;
}



.pointer[clickable] {
  cursor: pointer;
}
.pointer {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: calc(var(--p-size) / 2);
  width: var(--p-size);
  height: var(--p-size);
  line-height: var(--p-size);
  border-radius: var(--p-size);
  background: var(--p-color);
  color: white;
  text-align: center;
}
.pointer::before {
  display: block;
  content: " ";
  position: absolute;
  opacity: 0.33;
  width: var(--p-size);
  height: var(--p-size);
  padding: calc(2 * var(--p-outline));
  margin-top: calc(-3 * var(--p-outline));
  margin-left: calc(-3 * var(--p-outline));
  border-radius: calc(var(--p-size) * 2);
  border: var(--p-outline) solid var(--p-color);
}
